<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Team4Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Start <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/newBeitrag}" th:if="${sessionUser != null and sessionUser.admin}">Beitrag verfassen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/settings}" th:if="${sessionUser != null and sessionUser.admin}">Einstellungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}" th:if="${sessionUser == null}">Registrieren</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:if="${sessionUser == null}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:if="${sessionUser != null}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>




</body>
</html>