/* Color Theme Swatches in Hex */
.Architektur-1-hex { color: #F2F2F2; }
.Architektur-2-hex { color: #BFBFBF; }
.Architektur-3-hex { color: #737373; }
.Architektur-4-hex { color: #262626; }
.Architektur-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Architektur-1-rgba { color: rgba(242, 242, 242, 1); }
.Architektur-2-rgba { color: rgba(191, 191, 191, 1); }
.Architektur-3-rgba { color: rgba(114, 114, 114, 1); }
.Architektur-4-rgba { color: rgba(38, 38, 38, 1); }
.Architektur-5-rgba { color: rgba(12, 12, 12, 1); }

.background-Architektur-1-hex { background-color: #F2F2F2; }
.background-Architektur-2-hex { background-color: #BFBFBF; }
.background-Architektur-3-hex { background-color: #737373; }
.background-Architektur-4-hex { background-color: #262626; }
.background-Architektur-5-hex { background-color: #0D0D0D; }
