<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title th:text="${beitragDTO.ueberschrift} + ' - Team4Blog'"></title>
</head>
<body>

<header th:insert="/fragments/header.html :: header"></header>


<div class="container">
    <h1 th:text="${beitragDTO.ueberschrift}"></h1>

    <p th:text="${beitragDTO.text}"></p>

    <div th:if="${sessionUser != null and sessionUser.admin}">
        <form th:object="${beitragDTO}" th:action="@{/changeBeitrag/{beitragId}(beitragId=${beitragDTO.id})}"  method="post">
            <div class="form-group">
                <input type="text" th:field="*{id}" th:readonly="readonly" hidden>

                Überschrift<br/>
                <input type="text" th:field="*{ueberschrift}" class="form-control"><br/>
                Text<br/>
                <textarea th:field="*{text}" class="form-control"></textarea><br/>

                <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
        </form>
        <form th:if="${sessionUser != null and beitragDTO.nutzer == sessionUser}" method="post" th:action="@{/deleteBeitrag/{beitragId}(beitragId=${beitragDTO.id})}">
            <button type="submit" class="btn btn-primary">Löschen</button>
        </form>
    </div>

    <hr>
    <h3>Kommentare</h3>
    <ul>
        <li th:each="kommentar : ${kommentarList}">
            <p th:text="${kommentar.text}" >
            <form th:if="${kommentar.nutzer == sessionUser}" method="post" th:action="@{/deleteKommentar/{kommentarId}(kommentarId=${kommentar.id})}">
                <button type="submit">Löschen</button>
            </form>
            </span>
        </li>
    </ul>
</div>

<footer th:insert="/fragments/jquery.html :: jquery"></footer>
</body>
</html>