<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/styleFragments.css}" href="static/css/styleFragments.css"/>
    <link rel="stylesheet" th:href="@{css/indexCSS.css}" href="static/css/beitragCSS.css"/>
    <title th:text="${beitrag.ueberschrift} + ' - Team4Blog'"></title>
</head>
<body>

<header th:insert="/fragments/header.html :: header"></header>

<div class="container">
    <h1 th:text="${beitrag.ueberschrift}"></h1>

    <p th:text="${beitrag.text}"></p>

    <a th:if="${beitrag.nutzer == sessionUser}"  th:href="@{/changeBeitrag/{beitragId}(beitragId=${beitrag.id})}"><strong>Bearbeiten</strong></a>

    <hr>
    <ul>
        <li th:each="kommentar : ${kommentarList}">
            <span th:text="${kommentar.text}" ></span>
            <hr>
            <p class-="comment-meta">
                von
                <span class="author" th:text="${kommentar.nutzer.name}"></span>
                |
                <span class="date" th:text="${kommentar.getFormattedDatum()}"></span>
            </p>
            <hr>
            <form th:if="${kommentar.nutzer == sessionUser}" method="post" th:action="@{/deleteKommentar/{kommentarId}(kommentarId=${kommentar.id})}">
                <button type="submit" class="btn btn-primary">Löschen</button>
            </form>
            <br>
        </li>
    </ul>

    <!--Registrierte Nutzer bekommen Kommentar Funktion angezeigt-->
    <div th:if="${sessionUser != null}">

            <form th:object="${kommentarDTO}" th:action="@{/{beitragId}(beitragId=${beitrag.id})}"  method="post">
                <div class="form-group">

                    Kommentar <input type="text" th:field="*{text}" class="form-control"><br/>
                    <button type="submit" class="btn btn-primary">Senden</button>

                </div>
            </form>
    </div>

</div>
<footer th:insert="/fragments/jquery.html :: jquery"></footer>

</body>
</html>