<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Team4Blog</title>
    <link rel="stylesheet" th:href="@{css/styleFragments.css}" href="static/css/styleFragments.css"/>
    <link rel="stylesheet" th:href="@{css/indexCSS.css}" href="static/css/indexCSS.css"/>
</head>
<body>


    <header th:insert="/fragments/header.html :: header"></header>

    <div class="container">
    <ul>
        <li th:each="beitrag : ${list}">
            <h3>
                <a th:text="${beitrag.ueberschrift}" th:href="@{/{beitragId}(beitragId=${beitrag.id})}"></a>
            </h3>
            <span class="previewBeitrag" th:text="${beitrag.text}"></span>
            <a class="mehr" th:href="@{/{beitragId}(beitragId=${beitrag.id})}">mehr...</a>
            <hr>
            <p class-="post-meta">
                von
                <span class="author" th:text="${beitrag.nutzer.name}"></span>
                |
                <span class="date" th:text="${beitrag.getFormattedDatum()}"></span>
            </p>
            <hr>
            <br><br>
        </li>
    </ul>
    </div>

    <footer th:insert="/fragments/jquery.html :: jquery"></footer>
</body>
</html>