<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Team4Blog</title>
</head>
<body>

    <header th:insert="/fragments/header.html :: header"></header>
<div class="container">

    <h1>Team4Blog</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Admin</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entry : ${list}">
                    <th th:text="${entry.id}" scope="row"></th>
                    <th th:text="${entry.name}"></th>
                    <th th:text="${entry.admin}"></th>
                    <th><a th:href="@{/settings/{userId}(userId=${entry.id})}">ändern</a> </th>
                </tr>
            </tbody>


        </table>
</div>
    <footer th:insert="/fragments/jquery.html :: jquery"></footer>

</body>
</html>